<div style="height: 100vh;">
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="col-12 py-5 rounded" style="background-color: white;">
                <div class="row justify-content-center text-center">
                    <div class="col-12 col-md-6">
                        <img [src]="profilePicture" alt="Profile pic" class="img-fluid rounded-pill mr-4" style="height: 10em;width: 10em;">
                        <div>
                            <h1 class="display-4 common-text-color">{{profileData?.firstName}} {{profileData?.lastName}}</h1>
                            <a [routerLink]="['../upload']">Add Bio</a>
                        </div>
                    </div>
                    
                </div>
    
                <div class="row mt-5 justify-content-center">
                    <div class="col-12 col-md-6">
                        <div class="row">
                            <div class="col-6">
                                <button mat-raised-button type="button" class="w-100 text-white p-2" style="background-color: #24ade1;" [routerLink]="['/profile', profileData?._id, 'edit']">Edit profile</button>
                            </div>
                            <div class="col-6">
                                <button mat-raised-button class="w-100 p-2 text-white" type="button" style="background-color: #9f9f9f;" [routerLink]="['/profile', profileData?._id, 'view']">Preview</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-12">
                        <a class="float-right" [routerLink]="['/profile']">Go back to list</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

