/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}

body {
  margin: 0;
}

form {
  width: 450px;
  margin: 50px auto;
}

.preview {
  display: block;
  text-align: center;
}

.preview img {
  max-width: 100%;
}

.form-control:focus {
  box-shadow: none;
}

.table {
  width: 700px;
  margin: 30px auto;
}

.file-table {
  margin: 25px auto;
  max-width: 520px;
}

.file-table img {
  width: 100px;
}

.media {
  margin-bottom: 15px;
  background: white ;
  border-radius: 5px;
  overflow: hidden;
}

.media .mb-1 {
  margin-top: 9px !important;
}

nav .title {
  padding: 22px 20px;
  height: 80px;
  float: center;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  transition: .3s;
}
nav ul{
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li {
  list-style: none;
}

nav ul li a {
  line-height: 80px;
  color: black;
  padding: 12px 30px;
  text-transform: uppercase;
  transition: .3s;
}

.alert {
  margin: auto;
  width: 60%;
  padding: 10px;
}