<!-- color picket in chrome? -->

<div class="container mt-5">
    <h1 class="common-text-color">View Profile</h1>
    <div class="row">
        <div class="col-12">
            <form class="mt-5">
                <div class="row">
                    <!-- upload photo -->
                    <div class="col-12">
                        <img [src]="profilePicture" alt="profile-pic"
                            class="img-fluid rounded-pill mr-4" style="height: 10em;width: 10em;">
                    </div>

                    <div class="col-12 mt-5">
                        <div class="row">
                            <!-- first name -->
                            <div class="col-12 mt-3">
                                <div class="row">
                                    <div class="col-4">
                                        <label class="font-weight-bold">First name:</label>
                                    </div>
                                    <div class="col-4">
                                        <span>{{profileData?.firstName}}</span>
                                    </div>
                                </div>
                            </div>
                            <!-- Last name -->
                            <div class="col-12 mt-3">
                                <div class="row">
                                    <div class="col-4">
                                        <label class="font-weight-bold">Last name:</label>
                                    </div>
                                    <div class="col-4">
                                        <span>{{profileData?.lastName}}</span>
                                    </div>
                                </div>
                            </div>
                            <!-- Email -->
                            <div class="col-12 mt-3">
                                <div class="row">
                                    <div class="col-4">
                                        <label class="font-weight-bold">Email:</label>
                                    </div>
                                    <div class="col-4">
                                        <span>{{profileData?.email}}</span>
                                    </div>
                                </div>
                            </div>
                            <!-- Mobile No -->
                            <div class="col-12 mt-3">
                                <div class="row">
                                    <div class="col-4">
                                        <label class="font-weight-bold">Mobile Number:</label>
                                    </div>
                                    <div class="col-4">
                                        <span>{{profileData?.mobileNo}}</span>
                                    </div>
                                </div>
                            </div>

                            <!-- Documents -->
                            <div class="col-12 mt-3">
                                <div class="row">
                                    <div class="col-4">
                                        <label class="font-weight-bold">Documents:</label>
                                    </div>
                                    <div class="col-4" *ngFor="let data of profileData?.documents">
                                        <span class="d-block">{{data}}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-3 mt-5">
                                <button type="button" class="w-100 p-2 text-white" mat-raised-button
                                style="background-color: #24ade1;" [routerLink]="['/profile', profileData?._id, 'overview']">Back</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>