<div class="container">
  <div class="row">

    <form [formGroup]="form" (ngSubmit)="submitForm()">
      <!-- Image Preview -->
      <div class="form-group">
        <div class="preview" *ngIf="preview && preview !== null">
          <img [src]="preview" [alt]="form.value.name">
        </div>
      </div>

      <!-- File Input -->
      <div class="form-group">
        <input type="file" (change)="uploadFile($event)">
      </div>

      <!-- Name -->
      <div class="form-group input-group-lg">
        <input class="form-control" placeholder="Name" formControlName="name">
      </div>

      <!-- Submit -->
      <div class="form-group">
        <button class="btn btn-danger btn-block btn-lg">Upload File</button>
      </div>

    </form>

  </div>
</div>