<div class="container file-table">
    <!-- No data message -->
    <div class="alert alert-success text-center" *ngIf="Files.length <= 0">
        No Files uploaded yet!
    </div>

    <ul class="list-unstyled">
        <li class="media" *ngFor="let file of Files; let i = index">
            <img [src]="file.uploadedFile" class="mr-3" [alt]="file.name">
            <div class="media-body">
                <h5 class="mt-0 mb-1">{{file.name}}</h5>
                {{file._id}}
            </div>
        </li>
    </ul>
</div>