<div>
  <nav>
    <div class="title"><b>{{title}}</b></div>
      <div class = "navigation-bar">
        <ul>
          <li>
            <a class="button" routerLink="/add-file" routerLinkActive="activebutton"><b>uploadFile</b></a>
          </li>
          <li>
            <a class="button" routerLink="/files-list" routerLinkActive="activebutton"><b>Files</b></a>
          </li>
        </ul>
      </div>
  </nav>
</div>
<router-outlet></router-outlet>
